{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Rachael Kiai Portfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'portfolioCS/img/RNK.png' %} " rel="icon">
  <link href="{% static 'portfolioCS/img/RNK.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <!-- icon -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Vendor CSS Files -->
  <link href="{% static 'portfolioCS/vendor/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">
  <link href="{% static 'portfolioCS/vendor/bootstrap-icons/bootstrap-icons.css' %} " rel="stylesheet">
  <link href="{% static ' portfolioCS/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static ' portfolioCS/vendor/glightbox/css/glightbox.min.css' %} " rel="stylesheet">
  <link href="{% static ' portfolioCS/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href=" {% static 'portfolioCS/vendor/swiper/swiper-bundle.min.css' %} " rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href=" {% static 'portfolioCS/css/style.css' %} " rel="stylesheet">

  <!-- =======================================================
  * Template Name: Personal - v4.7.0
  * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">

      <h1><a href="index.html">Rachael Kiai</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="mr-auto"><img src="portfolio/img/logo.png" alt="" class="img-fluid"></a> -->
      <h2>I'm a <span>Software Developer</span> from Nairobi, Kenya</h2>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link active" href="#header">Home</a></li>
          <li><a class="nav-link" href="#about">About</a></li>
          <li><a class="nav-link" href="#resume">Resume</a></li>
          <li><a class="nav-link" href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link" href="#services">Blog</a></li>
          
          <li><a class="nav-link" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="social-links">
        <a href="https://github.com/Raykiai" class="github"><i class="bi bi-github"></i></a>
        <a href="https://www.linkedin.com/in/rachael-kiai/" class="linkedin"><i class="bi bi-linkedin"></i></a>
       
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">

      <div class="section-title">
        <h2>About</h2>
        <p>Learn more about me</p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="{% static 'portfolioCS/img/me.jpg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <!-- <h3>UI/UX &amp; Graphic Designer</h3> -->
          <!-- <h3>Software Developer</h3> -->
          <p class="fst-italic">
            I'm a Software Developer and data science enthusiast from the leafy suburbs of Nairobi, Kenya.<br>
            I recently completed my degree, majoring in Computer Science, at Strathmore University. 
            
          </p>
          <p class="fst-italic">Currently, I'm eager to learn, work, gain experience and grow my career in tech.<br></p>
          <p class="fst-italic">  In addition, I'm goal driven and an enthusiatic problem solver, 
            efficient communicator and great team player who always looks forward to collaborating with others in projects.
          </p>
          <br>
          <br>
          <a class="btn btn-outline-success" href="https://drive.google.com/file/d/1KPwE1-PVKBT2twwgRJ_iO_Kil4M1Q2Ek/view?usp=sharing" download="RachaelKiai_resume">Download Resume</a>
        </div>
       
      </div>

    </div><!-- End About Me -->


  <!-- ======= Interests ======= -->
  <div class="interests container">

    <div class="section-title">
      <h2>Interests</h2>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-4">
        <div class="icon-box">
          <i class="bi bi-code-slash" style="color: #ffbb2c;"></i>
          <h3>Coding</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
        <div class="icon-box">
          <i class="bi bi-tree" style="color: #5578ff;"></i>
          <h3>Hiking</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
        <div class="icon-box">
          <i class="bi bi-emoji-laughing" style="color: #e80368;"></i>
          <h3>UI/UX design</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
        <div class="icon-box">
          <i class="bi bi-app-indicator" style="color: #e361ff;"></i>
          <h3>Software development</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="bi bi-people" style="color: #47aeff;"></i>
          <h3>Networking</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i  class="bi bi-cloud-sun" style="color: #ffa76e;"></i>
          <h3>Charity/Volunteering</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="bi bi-robot" style="color: #11dbcf;"></i>
          <h3>Artificial Intelligence</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="bi bi-sun" style="color: #4233ff;"></i>
          <h3>Traveling</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="bi bi-book" style="color: #b2904f;"></i>
          <h3>Reading</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="bi bi-palette" style="color: #b20969;"></i>
          <h3>Art</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="bi bi-bar-chart-line" style="color: #ff5828;"></i>
          <h3>Data science</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="bi bi-hand-thumbs-up" style="color: #29cc61;"></i>
          <h3>Teamwork</h3>
        </div>
      </div>
    </div>

  </div><!-- End Interests -->

   
  </section><!-- End About Section -->

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Check My Resume</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Software developer Intern</h4>
            <h5>February 2022 - May 2022</h5>
            <p><em>iLabAfrica </em></p>
            <p><em>Nairobi, Kenya </em></p>
            <p> 
            <ul>
              <li>Worked on the front-end using HTML, CSS and JavaScript with Vue.js, the back-end using PHP and Laravel as the overall framework, for a government revenue management system.</li>
              <li>Developed 6 report pages which allow users to generate various reports based on their searches and download PDF and CSV files of the reports. </li>
              <li>Designed 8 blade files for generating PDF documents for different reports in the system.</li>
              <li>Debugged errors in the code.</li>
              <li>Performed SQL querying and data mapping tasks on the database to ensure that it was up to date</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>Volunteer Community Service</h4>
            <h5>January 2020 - March 2020</h5>
            <p><em>Twin Birds Academy</em></p>
            <p><em>Nairobi, Kenya </em></p>
            <p>
            <ul>
              <li>Took part in daily activities at the school as a substitute teacher which included teaching 80 children and assisting them in understanding the educational content</li>
            
            </ul>
            </p>
          </div>

          
        </div>

        
        <div class="col-lg-6">
          <h3 class="resume-title">Skills</h3>
          <div class="resume-item pb-0">
            <h4>Programming languages:</h4>
            <p><em>Java, Python, HTML, PHP, CSS, JavaScript, JSON, SQL, MySQL.</em></p>
    
            <h4>Frameworks:</h4>
            <p><em>Flutter, Vue.js, Laravel, Django.</em></p>

            <h4>Tools:</h4>
            <p><em>GitHub, VS Code, Android Studio, Firebase, AWS, Bootstrap, Xampp, NPM.</em></p>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Bachelors of Informatics and Computer science</h4>
            <h5>2018-2022</h5>
            <p>Institution: <em>Strathmore University</em></p>
            <p>Location: <em>Nairobi, Kenya</em></p>
           </div>
          <div class="resume-item">
            <h4>Software development coding bootcamp</h4>
            <h5>2017-2017</h5>
            <p>Institution: <em>Zalego Academy</em></p>
            <p>Location: <em>Nairobi, Kenya</em></p>
            <p>Web Development, Bootstrap, Android Mobile Application development and Java programming.</p>
          </div>

          <h3 class="resume-title">Certifications</h3>
          <div class="resume-item">
            <h4>AWS Academy Graduate - AWS Academy Cloud Foundations </h4>
            <h5>2022</h5>
            <p>Issued by: <em>Amazon Web Services Training and Certification</em></p>
            <p>Credential ID: <em>Nairobi, Kenya</em></p>
           </div>
          <div class="resume-item">
            <h4>Microsoft ADC Game of Learners</h4>
            <h5>2021</h5>
            <p>Issued by: <em>Microsoft Africa Development Center</em></p>
            <p>Credenial ID: <em>Nairobi, Kenya</em></p>
          </div>

          <h3 class="resume-title">Achievements</h3>
          <div class="resume-item">
            <h4>Kamilimu mentorship programme </h4>
            <h5>2021-2022</h5>
            <p>Cohort 6 graduate</p>
            
          
           </div>
    
        </div>
      
      </div>

    </div>
  </section><!-- End Resume Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Blog</h2>
        <p>My Blog Posts</p>
      </div>

      <div class="row">
        <h6 class="resume-title">2022</h6>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">Apis</a></h4>
            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">Netflix replica</a></h4>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4><a href="">Web 3</a></h4>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
          </div>
        </div>

        <br>
        <br>
        <h6></h6>
        <h6 class="resume-title">2021</h6>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4><a href="">Getting started with React</a></h4>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">Netflix replica</a></h4>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4><a href="">Web 3</a></h4>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
          </div>

      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title">
        <h2>Portfolio</h2>
        <p>My Projects</p>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-card">Card</li>
            <li data-filter=".filter-web">Web</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src=" {% static 'portfolioCS/img/portfolio/portfolio-1.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 1</h4>
              <p>App</p>
              <div class="portfolio-links">
                <a href="  {% static 'portfolioCS/img/portfolio/portfolio-1.jpg' %} " data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="bi bi-link" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="{% static 'portfolioCS/img/portfolio/portfolio-2.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <div class="portfolio-links">
                <a href="{% static 'portfolioCS/img/portfolio/portfolio-2.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'portfolioCS/img/portfolio/portfolio-3.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 2</h4>
              <p>App</p>
              <div class="portfolio-links">
                <a href="{% static 'portfolioCS/img/portfolio/portfolio-3.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="{% static 'portfolioCS/img/portfolio/portfolio-4.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Card 2</h4>
              <p>Card</p>
              <div class="portfolio-links">
                <a href="{% static 'portfolioCS/img/portfolio/portfolio-4.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="{% static 'portfolioCS/img/portfolio/portfolio-5.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 2</h4>
              <p>Web</p>
              <div class="portfolio-links">
                <a href=" {% static 'portfolioCS/img/portfolio/portfolio-5.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'portfolioCS/img/portfolio/portfolio-6.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 3</h4>
              <p>App</p>
              <div class="portfolio-links">
                <a href="{% static 'portfolioCS/img/portfolio/portfolio-6.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="{% static 'portfolioCS/img/portfolio/portfolio-7.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Card 1</h4>
              <p>Card</p>
              <div class="portfolio-links">
                <a href="{% static 'portfolioCS/img/portfolio/portfolio-7.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                <a href="{% static 'portfolio-details.html' %}" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="{% static 'portfolioCS/img/portfolio/portfolio-8.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Card 3</h4>
              <p>Card</p>
              <div class="portfolio-links">
                <a href="{% static 'portfolioCS/img/portfolio/portfolio-8.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="{% static 'portfolioCS/img/portfolio/portfolio-9.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <div class="portfolio-links">
                <a href="{% static 'portfolioCS/img/portfolio/portfolio-9.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Portfolio Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Contact Me</p>
      </div>

      <div class="row mt-2">
        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bi bi-share" style="color: #22f1a8;"></i>
            <h3>Social Profiles</h3>
            <div class="social-links">
              <a href="https://github.com/Raykiai" class="github"><i class="bi bi-github"></i></a>
              <a href="https://www.linkedin.com/in/rachael-kiai/" class="linkedin"><i class="bi bi-linkedin"></i></a>
              
            </div>
          </div>
        </div>

        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bi bi-envelope-check" style="color: #22f1a8;"></i>
            <h3>Email</h3>
            <p>kiairachael@gmail.com</p>
          </div>
        </div>

        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bi bi-telephone-inbound" style="color: #22f1a8;"></i>
            <h3>Call</h3>
            <p>+254 720633085</p>
          </div>
        </div>
      </div>

      <form action="forms/contact.php" method="post" role="form" class="php-email-form mt-4">
        <div class="row">
          <div class="col-md-6 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
          </div>
          <div class="col-md-6 form-group mt-3 mt-md-0">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
          </div>
        </div>
        <div class="form-group mt-3">
          <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
        </div>
        <div class="form-group mt-3">
          <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
        </div>
        <div class="my-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your message has been sent. Thank you!</div>
        </div>
        <div class="text-center"><button type="submit">Send Message</button></div>
      </form>

    </div>
  </section><!-- End Contact Section -->

  <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/personal-free-resume-bootstrap-template/ -->
    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
  </div>

  <!-- Vendor JS Files -->
  <script src=" {% static 'portfolioCS/vendor/purecounter/purecounter.js' %}"></script>
  <script src=" {% static 'portfolioCS/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src=" {% static 'portfolioCS/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src=" {% static 'portfolioCS/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src=" {% static 'portfolioCS/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src=" {% static 'portfolioCS/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src=" {% static 'portfolioCS/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'portfolioCS/js/main.js' %}"></script>

</body>

</html>